<!-- edit or delete post on admin side -->

<!-- <div ui-view=""></div>

<div class="inventory col-xs-offset-1 col-xs-10"> -->
	<h3>edit entry</h3>

<br><br>
		<div class="form-group">
            <label for="id">title</label>
            <input type="text" class="form-control" name="title" ng-model="ctrl.blog.title">
        </div>
        <div class="form-group">
            <label for="name">author</label>
            <input type="text" class="form-control" name="author" ng-model="ctrl.blog.author">
        <div class="form-group">
            <label for="email">image</label>
            <input type="text" class="form-control" name="image" ng-model="ctrl.blog.image">
          </div>
          <div class="form-group">
            <label for="name">content</label>
            <input type="text" class="form-control" name="content" ng-model="ctrl.blog.content">
        </div>
          <div class="form-group">
            <label for="name">tags</label>
            <input type="text" class="form-control" name="tags" ng-model="ctrl.blog.tags">
        </div>


			<br><br>
		<div>
			<button class="ourButton" type="submit" ng-click="ctrl.updateEntry()">
				Submit
			</button>

		</div>
	</article>


	</div>
</div>