<!-- edit or delete post on admin side -->

<!-- <div ui-view=""></div>

<div class="inventory col-xs-offset-1 col-xs-10"> -->
	<h3>edit entry</h3>

<br><br>

	<article class="edit-frm">
	Title:<br>
  <input type="text" name="title" ng-model="ctrl.title" required><br>
  Image:<br>
  <input type="text" name="image" ng-model="ctrl.image" required><br>
  Content:<br>
  <input type="text" name="content" ng-model="ctrl.content" required><br>
  author:<br>
  <input type="text" name="author" ng-model="ctrl.author" required><br>
  tags:<br>
  <input type="text" name="tags" ng-model="ctrl.tags" required><br>
</form>
			<br><br>
		<div>
			<button class="ourButton" type="submit" ng-click="ctrl.updateEntry(entry)">
				Submit
			</button>

		</div>
	</article>


	</div>
</div>