<!-- admin dashboard, click to view posts, click to edit/delete posts -->


<div class="top">
<div class="align-shopmain row title">

	<h1>...on the road</h1>

</div>

		<ul>
			<li><a ui-sref="main.home">home</a></li>
			<li><a ui-sref="main.home">log out</a></li>
		</ul>

		<div ui-view=""></div>
</div>

<div class="align-shopmain row title">

<form name="add-entry">
  title:<br>
  <input type="text" name="title" ng-model="ctrl.title" required><br>
  image:<br>
  <input type="text" name="image" ng-model="ctrl.image" required><br>
  content:<br>
  <textarea name="content" ng-model="ctrl.content" required ></textarea>
	<br>
  author:<br>
  <input type="text" name="author" ng-model="ctrl.author" required><br>
  tags:<br>
  <input type="text" name="tags" ng-model="ctrl.tags" required><br>
</form>
<button type="submit" ng-click="ctrl.addEntry()">Submit</button>

<section>
<div class="adminposts">
	<h2>List of All Posts</h2>
	<div class="all entries" ng-repeat="entry in ctrl.blogPosts">
	<h4>	<a ng-click="ctrl.toBlog(entry._id)">
			{{entry.title}}<br>
		</a></h4>
		{{entry.content}}<br>
		{{entry.author}}<br>
		{{entry.tags}}<br>
		<img ng-src="./../../assets/img/{{entry.image}}" height="180" width="180">
		{{entry.created_at | date : format : short}}

		<!-- EDIT BUTTON TO RUN FUNCTION -->
		<button class="update" type="submit" ng-click="ctrl.updateEntry(entry)">Edit</button>
		
		<button type="submit" ng-click="ctrl.delete(entry._id)">Delete</button>
		<hr>
	</div>
	</div>
</div>
</section>