<!-- each individual blog post -->

<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">



<h2>{{ctrl.blog.title}}</h2><br>
<img ng-src="./../../assets/img/{{ctrl.blog.image}}"><br>

<div class="blogentry">
	<h4>{{ctrl.blog.created_at | date : format : short}}</h4><br>
	<h3>{{ctrl.blog.content}}</h3><br>
	<h4>{{ctrl.blog.author}}</h4><br>
	<h4>{{ctrl.blog.tags}}</h4><br>
</div>

<!--  <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });
      }
    </script>
     -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<i class="col-xs-1 fa fa-arrow-left" ui-sref="main.home"></i>
<br>
<br>
<br>
