<!-- about me page -->


<img class = "img-profile" src="app/assets/img/profile.jpg" style="width:304px;height:228px;">

<p>
	Hello, World! 
<br>
<br>
<br>
	My name is Naz, and I love to travel. All my life I was determined to climb the corporate ladder. Curious and searching for something else, I took a break not knowing what lay ahead. I traveled solo, began surfing and sank deeper into my yoga practice.
 <br>
 <br>
 <br>
	Through the years, I developed a meaningful personal practice that would change my whole direction in life. I embraced a new happier, healthier lifestyle. I trained as a yoga teacher so my skills allow me to work or volunteer anywhere around the world. The travelers I meet on the road inspire me to live life to the fullest everyday.
 <br>
 <br>
 <br>
	Recently, I lived in an little surf island in Australia. In between yoga sessions, I played tour guide and took travelers to secret spots around the south coast and just chilled with the locals and expats.
<br>
<br>
<br>
	I am currently traveling Europe, mostly volunteering as a yoga teacher for one year.
<br>
<br>
<br>
	Hope you enjoy the journey ... Naz xx

</p>