<!-- homepage with header, sliding jumbotron, all blog posts -->

<div class="jumbotron"></div>

<h1>HELLO WORLD</h1>


<form name="add-entry">
  Title:<br>
  <input type="text" name="title" ng-model="ctrl.title" required><br>
  Image:<br>
  <input type="text" name="image" ng-model="ctrl.image" required><br>
  Content:<br>
  <input type="text" name="content" ng-model="ctrl.content" required><br>
  author:<br>
  <input type="text" name="author" ng-model="ctrl.author" required><br>
  tags:<br>
  <input type="text" name="tags" ng-model="ctrl.tags" required><br>
</form>
<button type="submit" ng-click="ctrl.addEntry()">Submit</button>

<section>
	<h2>List of All Posts</h2>
	<div class="all entries" ng-repeat="entry in ctrl.blogPosts">
		<a ng-click="ctrl.toBlog(entry._id)">

			
			{{entry.title}}<br>
		</a>
		{{entry.content}}<br>
		{{entry.author}}<br>
		{{entry.tags}}<br>
		<!-- <img ng-src="{{entry.image}}"> -->
		{{entry.created_at | date : format : short}}

		<!-- <a href="edit">EDIT</a> -->
		<a href="edit" class="btn btn-primary btn-xs active" role="button">EDIT</a>

		<!-- EDIT BUTTON TO RUN FUNCTION -->
		<!-- <button class="update" type="submit" ng-click="ctrl.updateEntry(entry)">Edit</button> -->
		
		<button type="submit" ng-click="ctrl.delete(entry._id)">Delete</button>
	</div>
</section>








<footer class="row" style="margin-right:0">
	<div class="col-xs-12 col-sm-6">
		<ul>
			<li>about me</li>
			<li>follow more of my journey...</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-6">
			<i class="fa fa-instagram" style="font-size:20px"></i>
			<i class="fa fa-twitter" style="font-size:20px"></i>
			<i class="fa fa-facebook" style="font-size:20px"></i>
	</div>
</footer>




