<div class="top">
<div class="align-shopmain row title">
	<div class="searchbar icon col-xs-2">
		<i class="fa fa-search"></i>
		<input type="text" class="searchform" placeholder='search' ng-model="search.title">
		<!-- <input type="text" class="searchform" placeholder='search' ng-repeat="title in ctrl.entry | filter:search"> -->
	</div>

	<div class="col-xs-4 col-xs-offset-2">
		<h1>on the road...</h1>
	</div>


	<i class="col-xs-1 fa fa-user icon" style="text-align:right" ui-sref="auth"></i>



</div>

		<ul>
			<li><a ui-sref="main.home">home</a></li>
			<li><a ui-sref="main.aboutme">about me</a></li>
			
		</ul>

		<div ui-view></div>
</div>

