<!-- homepage with header, sliding jumbotron, all blog posts -->

<div class="jumbotron"></div>

<h1>welcome to my journey...</h1>





<div class="col-md-4" ng-repeat="entry in ctrl.blogPosts
						| limitTo:ctrl.entriesPerPage:ctrl.curPage * ctrl.entriesPerPage
						| filter: search">
	<ul class="photo-grid">
		<li>
			<a ng-click="ctrl.toBlog(entry._id)">
				<figure>
							<img ng-src="./../../assets/img/{{entry.image}}">
							<figcaption><p>{{entry.title}}</p></figcaption>
			</a>
		<li>
		

		
</div>


<br>
<br>
<br>
<br>
<br>
<div>
<!--     <button class="btn btn-default" 
            ng-click="ctrl.curPage = ctrl.curPage - 1"
            ng-disabled="ctrl.curPage == 0">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button> -->

    <button class="btn pagination" ng-click="ctrl.curPage = ctrl.curPage - 1"
       ng-disabled="ctrl.curPage == 0">
		<i class="fa fa-arrow-left"></i>
	</button>
    
 
    page {{ctrl.curPage + 1}} of {{ctrl.numPages}}
    
    
    <button class="btn pagination" ng-click="ctrl.curPage = ctrl.curPage + 1"
       		ng-disabled="ctrl.curPage == ctrl.numPages - 1">
       	<i class="fa fa-arrow-right"></i>
    </button>
</div>




<br>
<br>
<br>
<footer class="row" style="margin-right:0">
	<div class="col-xs-12 col-sm-6">
		<ul>
			<li>follow more of my journey</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-6">
			<a href="https://instagram.com/girls.ontheroad" target="_blank">
			<i class="fa fa-instagram" style="font-size:20px"></i></i></a>
			<a href="https://www.twitter.com" target="_blank">
			<i class="fa fa-twitter" style="font-size:20px"></i></a>
			<a href="https://www.facebook.com/groups/1063481797007265/" target="_blank">
			<i class="fa fa-facebook" style="font-size:20px"></i></a>
	</div>
</footer>




